# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
ENV/

# MLflow
mlruns/
mlartifacts/
mlflow.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/secrets.toml
